In [34]:
import pandas as pd


df = pd.read_csv('NCAA_Tourney_2002-2016_1.csv')
df.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>host_lat</th>
      <th>host_long</th>
      <th>team1_seed</th>
      <th>team1_lat</th>
      <th>team1_long</th>
      <th>team1_fg2pct</th>
      <th>team1_fg3pct</th>
      <th>team1_ftpct</th>
      <th>team1_blockpct</th>
      <th>team1_oppfg2pct</th>
      <th>...</th>
      <th>team2_pt_overall_s16</th>
      <th>team2_pt_school_ff</th>
      <th>team2_pt_overall_ff</th>
      <th>team2_pt_career_school_wins</th>
      <th>team2_pt_career_school_losses</th>
      <th>team2_pt_career_overall_losses</th>
      <th>team2_pt_team_season_wins</th>
      <th>team2_pt_team_season_losses</th>
      <th>team2_pt_coach_season_wins</th>
      <th>team2_pt_coach_season_losses</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>...</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
      <td>978.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>38.016780</td>
      <td>-92.170133</td>
      <td>6.914110</td>
      <td>37.998133</td>
      <td>-89.944919</td>
      <td>50.659781</td>
      <td>36.192639</td>
      <td>70.655628</td>
      <td>10.590092</td>
      <td>45.399944</td>
      <td>...</td>
      <td>3.124744</td>
      <td>0.792434</td>
      <td>1.062372</td>
      <td>286.131902</td>
      <td>80.972393</td>
      <td>142.487730</td>
      <td>24.278119</td>
      <td>7.874233</td>
      <td>24.250511</td>
      <td>7.852761</td>
    </tr>
    <tr>
      <th>std</th>
      <td>4.783985</td>
      <td>14.556941</td>
      <td>4.629882</td>
      <td>4.177928</td>
      <td>13.716526</td>
      <td>2.685837</td>
      <td>2.646673</td>
      <td>3.655348</td>
      <td>3.033408</td>
      <td>2.647194</td>
      <td>...</td>
      <td>4.415334</td>
      <td>1.903739</td>
      <td>2.146906</td>
      <td>217.291342</td>
      <td>64.392526</td>
      <td>90.346769</td>
      <td>3.513441</td>
      <td>3.181563</td>
      <td>3.578284</td>
      <td>3.166288</td>
    </tr>
    <tr>
      <th>min</th>
      <td>25.787700</td>
      <td>-122.681900</td>
      <td>1.000000</td>
      <td>21.292648</td>
      <td>-157.816607</td>
      <td>39.830500</td>
      <td>25.792800</td>
      <td>60.452700</td>
      <td>1.725700</td>
      <td>38.442800</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>9.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>12.000000</td>
      <td>0.000000</td>
      <td>9.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>35.110700</td>
      <td>-98.500000</td>
      <td>3.000000</td>
      <td>35.658741</td>
      <td>-95.947029</td>
      <td>48.848200</td>
      <td>34.356600</td>
      <td>68.084350</td>
      <td>8.599800</td>
      <td>43.517625</td>
      <td>...</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>115.000000</td>
      <td>34.000000</td>
      <td>71.000000</td>
      <td>22.000000</td>
      <td>6.000000</td>
      <td>22.000000</td>
      <td>6.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>38.895100</td>
      <td>-86.813000</td>
      <td>6.000000</td>
      <td>38.898650</td>
      <td>-86.253668</td>
      <td>50.619200</td>
      <td>36.100600</td>
      <td>70.683200</td>
      <td>10.165300</td>
      <td>45.306100</td>
      <td>...</td>
      <td>1.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>229.500000</td>
      <td>63.000000</td>
      <td>129.000000</td>
      <td>24.000000</td>
      <td>8.000000</td>
      <td>24.000000</td>
      <td>8.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>41.250000</td>
      <td>-81.661400</td>
      <td>11.000000</td>
      <td>40.715885</td>
      <td>-79.953926</td>
      <td>52.459325</td>
      <td>38.065925</td>
      <td>73.103400</td>
      <td>12.485150</td>
      <td>47.055025</td>
      <td>...</td>
      <td>4.000000</td>
      <td>1.000000</td>
      <td>1.000000</td>
      <td>400.000000</td>
      <td>110.000000</td>
      <td>203.500000</td>
      <td>27.000000</td>
      <td>10.000000</td>
      <td>27.000000</td>
      <td>10.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>47.658900</td>
      <td>-71.058900</td>
      <td>16.000000</td>
      <td>47.668144</td>
      <td>-71.099840</td>
      <td>58.723400</td>
      <td>43.281500</td>
      <td>81.801100</td>
      <td>20.430900</td>
      <td>56.710400</td>
      <td>...</td>
      <td>22.000000</td>
      <td>12.000000</td>
      <td>12.000000</td>
      <td>1012.000000</td>
      <td>390.000000</td>
      <td>425.000000</td>
      <td>34.000000</td>
      <td>19.000000</td>
      <td>34.000000</td>
      <td>19.000000</td>
    </tr>
  </tbody>
</table>
<p>8 rows × 76 columns</p>
</div>

In [35]:
from sklearn import preprocessing

normolizer = preprocessing.Normalizer().fit(df)

In [36]:
df_norm = normolizer.transform(df)

In [37]:
from sklearn.decomposition import PCA
pca = PCA()
pca.fit(df_norm)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [38]:
pca.explained_variance_ratio_

array([  5.14634421e-01,   3.25309943e-01,   4.66000675e-02,
         3.75504725e-02,   2.25037609e-02,   1.92437981e-02,
         1.62603881e-02,   3.71128367e-03,   2.45857498e-03,
         2.07243318e-03,   1.17351724e-03,   1.12786792e-03,
         7.99457387e-04,   6.00583245e-04,   5.06739392e-04,
         4.72814528e-04,   4.23740926e-04,   3.55615873e-04,
         3.41749700e-04,   3.20237763e-04,   2.90994828e-04,
         2.71754620e-04,   2.47112636e-04,   2.30066412e-04,
         2.23883760e-04,   2.04313248e-04,   1.72422573e-04,
         1.43427381e-04,   1.36698649e-04,   1.30488954e-04,
         1.23806268e-04,   1.15608260e-04,   1.10762294e-04,
         9.71652732e-05,   8.37604508e-05,   8.21580025e-05,
         7.24790330e-05,   7.02408063e-05,   6.53246458e-05,
         5.92736788e-05,   5.61858789e-05,   4.97689534e-05,
         4.50013073e-05,   4.11953807e-05,   3.99795693e-05,
         3.66943284e-05,   3.42391877e-05,   3.24749857e-05,
         3.16899584e-05,   2.99928628e-05,   2.77246749e-05,
         2.70941119e-05,   2.44559233e-05,   2.28850852e-05,
         1.73347733e-05,   1.44842235e-05,   1.33271813e-05,
         1.30029750e-05,   8.77715031e-06,   7.56291268e-06,
         5.86304221e-06,   4.13233666e-06,   4.01664217e-06,
         3.70125287e-06,   3.28548558e-06,   3.05431452e-06,
         7.22694010e-07,   7.03932112e-07,   7.01497754e-07,
         6.17998567e-07,   6.72282459e-08,   4.61867814e-08,
         2.20234039e-09,   1.98233011e-09,   1.30519491e-09,
         1.12509643e-09])

In [39]:
variance = pca.explained_variance_

In [40]:
import numpy as np

cumulativeExplainedVarianceRatio = np.cumsum(variance)/np.sum(variance)
cumulativeExplainedVarianceRatio

array([ 0.51463442,  0.83994436,  0.88654443,  0.9240949 ,  0.94659867,
        0.96584246,  0.98210285,  0.98581414,  0.98827271,  0.99034514,
        0.99151866,  0.99264653,  0.99344599,  0.99404657,  0.99455331,
        0.99502612,  0.99544986,  0.99580548,  0.99614723,  0.99646747,
        0.99675846,  0.99703022,  0.99727733,  0.9975074 ,  0.99773128,
        0.99793559,  0.99810802,  0.99825144,  0.99838814,  0.99851863,
        0.99864244,  0.99875805,  0.99886881,  0.99896597,  0.99904973,
        0.99913189,  0.99920437,  0.99927461,  0.99933994,  0.99939921,
        0.9994554 ,  0.99950516,  0.99955017,  0.99959136,  0.99963134,
        0.99966803,  0.99970227,  0.99973475,  0.99976644,  0.99979643,
        0.99982416,  0.99985125,  0.99987571,  0.99989859,  0.99991593,
        0.99993041,  0.99994374,  0.99995674,  0.99996552,  0.99997308,
        0.99997894,  0.99998308,  0.99998709,  0.99999079,  0.99999408,
        0.99999713,  0.99999786,  0.99999856,  0.99999926,  0.99999988,
        0.99999995,  0.99999999,  1.        ,  1.        ,  1.        ,  1.        ])

In [42]:
PCA_matrix = pd.DataFrame(pca.components_, index=df.columns).loc[:, 0:9]
PCA_matrix.to_csv('pca_result.csv')